@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet>
    Ocorreu um erro inesperado.
    <a href="." class="reload">Recarregar</a>
    <span class="dismiss">🗙</span>
</div>
